body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    text-align: center;
}
header {
    border-bottom: solid  5px rgb(104, 10, 10);
    background-color: rgb(140, 216, 230);
    box-shadow:  0 0 5px;
}

button {
    padding: 12px 24px;
    margin-top: 10px;
    font-size: large;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}
