body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: rgba(9, 153, 158, 0.699);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
figure {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
h1 {
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    height: 250px;
    width: auto;
    border-radius: 10px;
}

ul {
    list-style: decimal;
    padding: 10px;
}
ul li {
    background-color: #ffffff;
    margin: 5px auto;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
